USE [ExpenseManager]
GO
/****** Object:  User [em_user]    Script Date: 1/25/2016 9:02:03 AM ******/
CREATE USER [em_user] FOR LOGIN [em_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [em_user]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/25/2016 9:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[EM_Category]    Script Date: 1/25/2016 9:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EM_Category](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[Active_FLG] [varchar](1) NULL,
	[CRE_DTTM] [datetime] NULL DEFAULT (getdate()),
	[CRE_By_NM] [varchar](100) NULL,
	[UPDT_DTTM] [datetime] NULL DEFAULT (getdate()),
	[UPDT_By_NM] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[EM_Category_Detail]    Script Date: 1/25/2016 9:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EM_Category_Detail](
	[CategoryDetailID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [varchar](255) NULL,
	[Pay_By_CreditCard] [varchar](1) NULL,
	[Active_DTTM] [datetime] NULL,
	[InActive_DTTM] [datetime] NULL,
	[Url] [varchar](255) NULL,
	[Due_Date] [int] NULL,
	[CRE_DTTM] [datetime] NULL DEFAULT (getdate()),
	[CRE_By_NM] [varchar](100) NULL,
	[UPDT_DTTM] [datetime] NULL DEFAULT (getdate()),
	[UPDT_By_NM] [varchar](100) NULL,
 CONSTRAINT [PK_EM_Category_Detail] PRIMARY KEY CLUSTERED 
(
	[CategoryDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[EM_Expenditure]    Script Date: 1/25/2016 9:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EM_Expenditure](
	[ExpenditureID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryDetailID] [int] NOT NULL,
	[PayMonth] [int] NOT NULL,
	[PayYear] [int] NOT NULL,
	[Amount] [decimal](19, 2) NOT NULL,
	[Description] [varchar](255) NULL,
	[Note] [varchar](255) NULL,
	[CRE_DTTM] [datetime] NULL DEFAULT (getdate()),
	[CRE_By_NM] [varchar](100) NULL,
	[UPDT_DTTM] [datetime] NULL DEFAULT (getdate()),
	[UPDT_By_NM] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExpenditureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[EM_User]    Script Date: 1/25/2016 9:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EM_User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[First_NM] [varchar](100) NOT NULL,
	[Last_NM] [varchar](100) NOT NULL,
	[LoginID] [varchar](100) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[Active_FLG] [varchar](1) NULL,
	[CRE_DTTM] [datetime] NULL DEFAULT (getdate()),
	[CRE_By_NM] [varchar](100) NULL,
	[UPDT_DTTM] [datetime] NULL DEFAULT (getdate()),
	[UPDT_By_NM] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1/25/2016 9:02:03 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[User_Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[PasswordOld] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
	[Activated] [bit] NULL,
	[UserRole] [bit] NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[EM_Category] ON 

INSERT [dbo].[EM_Category] ([CategoryID], [Title], [Description], [Active_FLG], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (1, N'Housing', N'Mortgage and HOA', N'Y', CAST(N'2015-08-28 10:55:34.240' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.600' AS DateTime), NULL)
INSERT [dbo].[EM_Category] ([CategoryID], [Title], [Description], [Active_FLG], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (2, N'Utility', N'Utility fee', N'Y', CAST(N'2015-08-28 10:55:34.243' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.600' AS DateTime), NULL)
INSERT [dbo].[EM_Category] ([CategoryID], [Title], [Description], [Active_FLG], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (3, N'Credit Card', N'Collection of credit cards', N'Y', CAST(N'2015-08-28 10:55:34.243' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.600' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[EM_Category] OFF
SET IDENTITY_INSERT [dbo].[EM_Category_Detail] ON 

INSERT [dbo].[EM_Category_Detail] ([CategoryDetailID], [CategoryID], [Title], [Description], [Pay_By_CreditCard], [Active_DTTM], [InActive_DTTM], [Url], [Due_Date], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (1, 1, N'Mortgage', N'WellsFargo Bank', N'N', CAST(N'2010-04-21 10:55:34.243' AS DateTime), NULL, N'http://wellsfargo.com', 30, CAST(N'2010-08-28 10:55:34.243' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.600' AS DateTime), NULL)
INSERT [dbo].[EM_Category_Detail] ([CategoryDetailID], [CategoryID], [Title], [Description], [Pay_By_CreditCard], [Active_DTTM], [InActive_DTTM], [Url], [Due_Date], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (2, 1, N'HOA', N'GarisonWay', N'N', CAST(N'2010-07-28 10:55:34.243' AS DateTime), NULL, NULL, 30, CAST(N'2010-08-28 10:55:34.247' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.603' AS DateTime), NULL)
INSERT [dbo].[EM_Category_Detail] ([CategoryDetailID], [CategoryID], [Title], [Description], [Pay_By_CreditCard], [Active_DTTM], [InActive_DTTM], [Url], [Due_Date], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (3, 2, N'GRU', N'Electricity/Gas', N'N', CAST(N'2009-09-23 10:55:34.243' AS DateTime), NULL, N'http://gru.com', 12, CAST(N'2010-08-28 10:55:34.247' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.603' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[EM_Category_Detail] OFF
SET IDENTITY_INSERT [dbo].[EM_Expenditure] ON 

INSERT [dbo].[EM_Expenditure] ([ExpenditureID], [CategoryDetailID], [PayMonth], [PayYear], [Amount], [Description], [Note], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (1, 1, 1, 2015, CAST(1600.48 AS Decimal(19, 2)), N'IBE5LVRM8F', NULL, CAST(N'2015-01-25 00:00:00.000' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.613' AS DateTime), NULL)
INSERT [dbo].[EM_Expenditure] ([ExpenditureID], [CategoryDetailID], [PayMonth], [PayYear], [Amount], [Description], [Note], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (2, 1, 2, 2015, CAST(1600.39 AS Decimal(19, 2)), N'IBECF9CLZ3', NULL, CAST(N'2015-02-25 00:00:00.000' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.613' AS DateTime), NULL)
INSERT [dbo].[EM_Expenditure] ([ExpenditureID], [CategoryDetailID], [PayMonth], [PayYear], [Amount], [Description], [Note], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (3, 1, 3, 2015, CAST(1600.39 AS Decimal(19, 2)), N'IBEN4RCN3X', NULL, CAST(N'2015-03-31 00:00:00.000' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.613' AS DateTime), NULL)
GO
SET IDENTITY_INSERT [dbo].[EM_Expenditure] OFF
SET IDENTITY_INSERT [dbo].[EM_User] ON 

INSERT [dbo].[EM_User] ([UserID], [First_NM], [Last_NM], [LoginID], [Password], [Active_FLG], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (1, N'Tony', N'Cho', N'tony', N'fDK%\.Aw&QK4', N'Y', CAST(N'2015-09-23 09:00:34.240' AS DateTime), NULL, CAST(N'2015-10-22 13:50:43.963' AS DateTime), NULL)
INSERT [dbo].[EM_User] ([UserID], [First_NM], [Last_NM], [LoginID], [Password], [Active_FLG], [CRE_DTTM], [CRE_By_NM], [UPDT_DTTM], [UPDT_By_NM]) VALUES (2, N'Fake', N'Cho', N'aaa', N'aaaa', N'Y', CAST(N'2015-09-23 09:00:34.240' AS DateTime), NULL, CAST(N'2015-10-22 14:48:45.100' AS DateTime), N'Tony, Cho')
SET IDENTITY_INSERT [dbo].[EM_User] OFF
ALTER TABLE [dbo].[EM_Category_Detail]  WITH CHECK ADD FOREIGN KEY([CategoryID])
REFERENCES [dbo].[EM_Category] ([CategoryID])
GO
ALTER TABLE [dbo].[EM_Expenditure]  WITH CHECK ADD FOREIGN KEY([CategoryDetailID])
REFERENCES [dbo].[EM_Category_Detail] ([CategoryDetailID])
GO
