<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <!--<nav class="navbar navbar-fixed-top navbar-dark bg-faded" role="navigation">-->

    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#calendar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
            <a class="navbar-brand" href="/#about">{{content.title}}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="calendar">

            <ul class="nav navbar-nav navbar-right">
                <li class="button-group">

                    <button class="btn btn-sm navbar-btn btn-primary">Month</button>
                    <button class="btn btn-sm navbar-btn" style="margin-right:30px;">Year</button>

                </li>

                <li ng-repeat="month in content.months">
                    <span>
						<button class="btn btn-sm navbar-btn" ng-class="content.selectedMonth === $index ?'btn-primary':''" ng-click="content.setMonth($index)">
							{{month}}
						</button>
							<span>&nbsp;</span>
                    </span>
                    <span ng-show="month =='Mar' || month =='Jun' || month=='Sep'">
							&nbsp;&nbsp;
					</span>
                </li>
                <li>
                    <select selector model="content.selectedYear" options="content.years">
					</select>
                </li>
            </ul>
        </div>
    </div>
</nav>