/*------------------------------------*\
	#OVERRIDE STLES
	This style sheet can be used for two different functions:
	1. Override specific Bootstrap styles.
	2. Add your own styles.
\*------------------------------------*/


/**
 * Padding-top is required if using .navbar-fixed-top.
 * This can be removed Remove if using .navbar-static-top.
 * The height may need to be changed if the height of you
 * navigation changes.
*/

body {
	/*font-family:sans-serif;*/
	padding-top: 30px;
	/*background:blue;*/
}


/*body *{
	color:white;
	
}*/


/**
 * Bootstrap requires a containing element to wrap site contents 
 * and house the grid system. You may choose one of two containers.
 * Use .container for a responsive fixed width container.
 * Use .container-fluid for a full width container.

 * If using container-fluid, you may need to set a maximum width, 
 * so that the container will not spread to the entire viewport.
*/

.container-fluid {
	max-width: 1400px;
}


/**
 * We can add some "helper classes" to add or remove margins to
 * help aspects of the layout. These helper classes should only
 * be used sparingly.
*/

.margin-t-0 {
	margin-top: 0;
}

.margin-t-h {
	margin-top: .5em;
}

.margin-t-1 {
	margin-top: 1em;
}

.margin-t-2 {
	margin-top: 2em;
}

.margin-t-3 {
	margin-top: 3em;
}

.margin-b-0 {
	margin-bottom: 0;
}

.margin-b-h {
	margin-bottom: .5em;
}

.margin-b-1 {
	margin-bottom: 1em;
}

.margin-b-2 {
	margin-bottom: 2em;
}

.margin-b-3 {
	margin-bottom: 3em;
}

.margin-tb-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.margin-tb-h {
	margin-top: .5em;
	margin-bottom: .5em;
}

.margin-tb-1 {
	margin-top: 1em;
	margin-bottom: 1em;
}

.margin-tb-2 {
	margin-top: 2em;
	margin-bottom: 2em;
}

.margin-tb-3 {
	margin-top: 3em;
	margin-bottom: 3em;
}

.flexCenter {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
}

.flexCenter-sb {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-between;
}

.flexCenter-ar {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: space-around;
}

.width100 {
	width: 100%;
}


/*.navbar .divider-vertical {
height: 40px;
margin: 0 9px;
border-left: 1px solid #f2f2f2;
border-right: 1px solid #ffffff;
}*/


/*.divider-vertical {
height: 40px;
margin: 0 9px;
border-left: 1px solid #f2f2f2;
border-right: 1px solid #ffffff;
}*/

.navbar .divider-vertical {
	height: 50px;
	margin: 0 9px;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #f2f2f2;
}

.navbar-inverse .divider-vertical {
	border-right-color: #222222;
	border-left-color: #111111;
}

@media (max-width: 767px) {
	.navbar-collapse .nav > .divider-vertical {
		display: none;
	}
}


/*angular-selector*/

.selector-container {
	width: 100px;
	margin-top: 5px;
	margin-left: 20px;
}