<!-- Navigation -->
<navbar content="vm.navbar"></navbar>

<div class="container-fluid" ng-controller="homeCtrl">
    <div class="row margin-t-1">
        <h4>
            <span>
				<span class="glyphicon glyphicon-user"></span> ???
            <span class="glyphicon glyphicon-time"></span> 12 Sep 2016 10:00 am
            </span>
            <span class="pull-right" ng-show="vm.message != null" style="color:red;">{{vm.message}}</span>
        </h4>

        <hr />

        <div class="row margin-t-h">
            <div class="col-sm-3">
                <!-- Left Panel -->
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">Graphs</h4>
                    </div>
                    <div class="panel-body">
                        <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                        </p>
                    </div>
                </div>

                <h4>You selected: {{vm.navbar.selectedYear}}</h4>

            </div>
            <!-- Middle Panel -->

            <div class="col-sm-7">

                <div class="panel panel-default" ng-repeat="folder in vm.folders">

                    <div class="panel-heading">
                        <h4 class="panel-title"><b>{{folder}}</b> </h4>
                    </div>

                    <div class="panel-body">

                        <div class="list-group" ng-repeat="expense in vm.expenses" ng-if="expense.name == folder">
                            <div>
                                <a class="list-group-item" data-toggle="collapse" data-target="#{{expense._id}}" data-parent="#{{expense._id}}">
                                    <span>{{expense.tab}}</span> <span class="badge pull-right">{{expense.payment[0].amount|currency}}</span>
                                </a>
                            </div>
                            <div id="{{expense._id}}" class="collapse">

                                <form name="outerForm" class="margin-t-1">
                                    <uib-tabset active="activeForm">
                                        <uib-tab index="0 " heading="Info ">

                                            <ng-form name="nestedForm ">
                                                <div class="form-group ">
													<label>OnLine</label>
                                                    <input type="text " class="form-control " required ng-model="model.name " />
                                                    <label>Folder:</label>
                                                    <input type="text " class="form-control " required ng-model="model.name " />
                                                    <label>Tab:</label>
                                                    <input type="text " class="form-control " required ng-model="model.name " />
                                                    <label>Amount:</label>
                                                    <input type="text " class="form-control " required ng-model="model.name " />
                                                    <label>Payment DTTM:</label>
                                                    <input type="text " class="form-control " required ng-model="model.name " />
                                                    <label>Due Date:</label>
                                                    <input type="text " class="form-control " required ng-model="model.name " />
                                                    <label>pay by credit card:</label>
                                                    <input type="checkbox" ng-model="string" [name="string" ] [ng-true-value="expression" ] [ng-false-value="expression" ] [ng-change="string" ]/>
                                                    <label>Note:</label>
                                                    <input type="text " class="form-control " required ng-model="model.name " />
                                                </div>
                                                <button class="pull-right">Save</button>
                                            </ng-form>
                                        </uib-tab>
                                        <uib-tab index="1 " heading="What ?? ">

                                            <ul class="margin-t-2">

                                                <li>Note: {{expense.payment[0].note}}</li>
                                                <li>URL: <a href="{{expense.url}}" target="_blank">{{expense.url}}</a></li>
                                                <li>Due Date: {{expense.dueDate}}</li>
                                                <li>Pay By CreditCard: {{expense.payByCreditCard}}</li>
                                                <li>Payment DTTM: {{expense.payment[0].paymentDTTM | date: 'medium'}}</li>
                                                <li>Updated DTTM: {{expense.payment[0].updatedDTTM | date : 'medium'}}</li>
                                                <li>Created DTTM: {{expense.payment[0].createdDTTM | date : 'medium'}}</li>
                                            </ul>
                                        </uib-tab>
                                        <uib-tab index="2 " heading="Statistics ">

                                            <ul class="margin-t-2">
                                                <li>URL: {{expense.url}} | <span><button class="btn btn-xs "><a href=" ">URL</a></button></span></li>
                                                <li>payByCreditCard: {{expense.payByCreditCard}}</li>
                                                <li>UpdatedDTTM: {{expense.payment[0].updatedDTTM | date : 'medium'}}</li>
                                                <li>CreatedDTTM: {{expense.payment[0].createdDTTM | date : 'medium'}}</li>

                                            </ul>
                                        </uib-tab>
                                    </uib-tabset>
                                </form>
                                <!--<uib-tabset active="active ">
									<uib-tab index="0 " heading="Static title ">Static content</uib-tab>
									<uib-tab index="$index + 1 " ng-repeat="tab in tabs " heading="{{tab.title}} " disable="tab.disabled ">
										{{tab.content}}
									</uib-tab>
									<uib-tab index="3 " select="alertMe() ">
										<uib-tab-heading>
											<i class="glyphicon glyphicon-bell "></i> Alert!
										</uib-tab-heading>
										I've got an HTML heading, and a select callback. Pretty cool!
									</uib-tab>
								</uib-tabset>-->



                                <!--<ul>
									<li>Note: {{expense.payment[0].note}}</li>
									<li>URL: {{expense.url}} | <span><button class="btn btn-xs "><a href=" ">URL</a></button></span></li>
									<li>DueDate: {{expense.dueDate}}</li>
									<li>payByCreditCard: {{expense.payByCreditCard}}</li>
									<li>UpdatedDTTM: {{expense.payment[0].updatedDTTM | date : 'medium'}}</li>
									<li>CreatedDTTM: {{expense.payment[0].createdDTTM | date : 'medium'}}</li>

								</ul>-->
                            </div>
                        </div>

                    </div>

                </div>

                <!--end of ng-repeat-->



                <div>
                    Grand Total: {{vm.grandTotal | currency}}
                </div>

                <div>
                    Monthly Total: {{vm.monthlyTotal | currency}}
                </div>

                <ul>
                    <li ng-repeat="expense in vm.expenses ">
                        {{expense.tab}}
                    </li>
                </ul>



            </div>

            <!-- Right Panel -->

            <div class="col-sm-2 ">
                <!-- Search -->
                <div class="well ">
                    <h4 class="margin-t-0 ">Search</h4>
                    <form action="# ">
                        <div class="input-group ">
                            <label class="sr-only " for="search-form ">Search the site</label>
                            <input type="text " class="form-control " id="search-form ">
                            <span class="input-group-btn ">
								<button class="btn btn-default " type="button ">
									<span class="glyphicon glyphicon-search "></span>
                            <span class="sr-only ">Search</span>
                            </button>
                            </span>
                        </div>
                    </form>
                </div>

                <!-- list group -->
                <!--<div class="list-group margin-b-3 ">
					<a href="# " class="active list-group-item ">Category 1</a>
					<a href="# " class="list-group-item ">Category 2</a>
					<a href="# " class="list-group-item ">Category 3</a>
				</div>-->



                <div class="panel panel-default ">
                    <div class="panel-heading ">
                        <h4 class="panel-title ">Folders</h4>
                    </div>
                    <div class="panel-body ">

                        <div class="flexCenter-ar " ng-repeat="folder in vm.folders ">
                            <button class="btn btn-md btn-default width100 margin-t-1 ">{{folder}}</button>

                        </div>

                        <!--<div class="flexCenter-ar ">
							<button class="btn btn-md btn-default width100 ">Housing</button>
						</div>
						<br />
						<div class="flexCenter-ar width100 ">
							<button class="btn btn-md btn-primary width100 ">Credit Card</button>
						</div>
						<br />
						<div class="flexCenter-ar width100 ">
							<button class="btn btn-md btn-default width100 ">Utility</button>
						</div>-->
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<footer-generic></footer-generic>
<!--footer-->
<!--<div class="container-fluid ">
    <hr>
    <footer class="margin-tb-1 ">
        <div class="row ">
            <div class="col-sm-12 ">
                <p>Copyright &copy; TonyC 2016</p>
            </div>
        </div>
    </footer>
</div>-->